<div class="topic-edit-wrapper">
  <div class="topic-show-container">
    <h1 class="form-group-title">Edit</h1>
    <%= form_tag("/topics/#{@topic.id}/update") do %>
      <div class="form">
        <div class="form-body">
          <h1 class="topic-name">Subject</h1>
          <textarea name="title" class="title-form"><%= @topic.title %></textarea>
          <h1 class="topic-name">Content</h1>
          <textarea name="description" class="description-form"><%= @topic.description %></textarea>
          <input type="submit" value="保存" class="text-white">
        </div>
      </div>
    <% end %>
  </div>
</div>
