<div class="user-show-wrapper">
  <div class="container">
    <div class="user">
      <h2>Name</h2>
        <%= @user.name %>
      <h2>Email</h2>
        <%= @user.email %>
    </div>
    <%= link_to("編集", "/users/#{@user.id}/edit") %>
  </div>
</div>
