<div class="users-show-wrapper">
  <div class="users-show-container">
    <div class="user-information">
      <h2 class="form-group">
        Name: <%= @user.name %>
      </h2>
      <h2 class="form-group">
        Email: <%= @user.email %>
      </h2>
    </div>
    <%= link_to("編集", "/users/#{@user.id}/edit", class: 'text-white') %>
  </div>
</div>
