h1, h2 {
  font-weight: 100;
  padding-left: 30px;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 40px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.top-command {
  display: flex;
}

.top-hero-wrapper {
  width: 100vw;
  height: 90vh;
  background-image: image-url('image/knowledge-1052010_1920.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 200px;
  h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}




.users-new-wrapper {
  width: 100vw;
  height: 90vh;
  background-image: image-url('image/knowledge-1052010_1920.jpg');
  background-position:center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;


  .users-new-container {
    padding-top: 80px;

    .form-group {
      margin-bottom: 20px;
      list-style: none;
      padding-left: 60px;

      .form-control {
        height: 30px;
        margin-left: 15px;
        width: 200px;
        float:none;



      }
    }
    .sub-text {
      margin-left: 120px;
    }

    .sessions-sub-text {
      margin-left: 110px;
    }
  }
}


.users-edit-wrapper {
  width: 100vw;
  height: 90vh;
  background-image: image-url('image/old-1130731_1280.jpg');
  background-position:center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;


  .users-edit-container {
    padding-top: 130px;

    .form-heading {
      padding-left: 400px;
      font-size: 20px;
      color: #fff;
    }

    .form-body {
      padding-left: 400px;
      color: #000;

      .user-form {
        height: 30px;
      }


      .form-name {
        color: #fff;
        padding-top: 20px;
      }

      .user-save{
        font-size: 20px;
        display: block;
        margin-top: 20px;
        margin-left: 50px;
      }
    }
  }
}


.users-show-wrapper {
  width: 100vw;
  height: 90vh;
  background-image: image-url('image/old-1130731_1280.jpg');
  background-position:center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;


  .users-show-container {
    padding-top: 80px;

    .user-information {
      padding-top: 170px;
      padding-left: 350px;


      .form-group {
        color: #fff;

      }

    }

   .text-white {
     color: #fff;
     padding-left: 490px;
     font-size: 20px;

   }
  }
}


.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}

.btn-block {
  border: 1px solid #fff;
  padding-top: 15px;
  margin-top: 7px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);





  &:hover {
    color: #565656;
  }
}

.topic-new-wrapper {
  width: 100vw;
  height: 90vh;
  padding-top: 120px;
  background-image: image-url('image/literature-3327172_1280.jpg');
  background-position:center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .topics-new-container {

    .form-group {
      color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;



      .title-form-control {
        height: 30px;
        width: 500px;
        margin-left: 15px;
        margin-bottom: 30px;
        border: 1px solid #e6ecf0;
        border-radius: 3px;
        padding-left: 10px;
        padding-right: 10px;
        color: #000;
      }

      .description-form-control {
        height: 100px;
        width: 500px;
        margin-left: 15px;
        margin-bottom: 30px;
        border: 1px solid #e6ecf0;
        border-radius: 3px;
        padding-left: 10px;
        padding-right: 10px;
        color: #000;
      }
    }
  }
}

.topic-index-wrapper {
  padding-top: 10px;
  background-color: #fafafa;

  .topic-index-container {
    background-color: #fafafa;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;

    .search-title {
      font-size: 20px;
      display: block;
    }

    .form-group {
      padding-left: 100px;
      display: flex;
    }

    .form-title {
      margin-top: 4px;
    }

    .form-control {
      margin-left: 20px;
      padding-left: 20px;
      width: 500px;
    }

    .search-botton {
      font-size: 20px;
      margin-top: 4px;
      margin-left: 20px;
    }
  }
}


.topic-result-wrapper {
  padding-top: 10px;
  background-color: #fafafa;

  .topic-result-container {
    background-color: #fafafa;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;

    .topic-result-single {
      background-color: #fff;
      border: 1px solid #e6ecf0;
      border-radius: 3px;
      margin-bottom: 10px;


      .topic-description {
        display: flex;

        .topic-title-name {
          font-size: 30px;

          .topic-title {
            color: #555;

          }
        }

        .topic-author-name {
          font-size: 20px;
          padding-top: 10px;
          padding-left: 100px;

        }
        .topic-author {
          color: #555;

        }
      }
        .topic-text {
          padding-left: 20px;
          padding-right: 20px;

          .topic-description {

          }
        }
        .topic-index-icon {
          margin-left: 40px;

        }
        .comment-title {
          font-size: 20px;
          padding-left: 50px;

        }
        .comment-content {
          font-size: 15px;
          padding-left: 30px;

          .delete-botton {
            font-size: 15px;
            color: #555;
            padding-left: 20px;

          }
        }

    }
  }
}



.topic-index-icon {
  width: 35px;
  height: 30px;
  margin-left: 20px;
}

.text-center {
  color: #fff;
}

.btn-black {
  color: #000;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
}


.comment-content {
  display: block;
  padding-right: 20px;
  padding-left: 20px;
}

.comment-title {
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
}


.topic-show-wrapper {
  width: 100vw;
  height: 90vh;
  padding-top: 120px;
  background-image: image-url('image/literature-3327172_1280.jpg');
  background-position:center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .topic-show-container {
    padding-top: 30px;


    .form-group-title {
      color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 82px;
    }

    .form-group-content {
      color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .topic-time {
      color: #fff;
      padding-top: 20px;
      padding-bottom: 40px;
      padding-left: 300px;
    }

    .text-white {
      color: #fff;
      padding-left: 130px;
      font-size: 20px;
      display: inline;
    }
  }
}


.topic-edit-wrapper {
  width: 100vw;
  height: 90vh;
  padding-top: 120px;
  background-image: image-url('image/literature-3327172_1280.jpg');
  background-position:center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .topic-show-container {


    .form-group-title {
      color: #fff;
      padding-bottom: 20px;
      padding-left: 470px;
    }

    .form-body {
      color: #000;
      padding-bottom: 20px;

      .topic-name {
        color: #fff;
        padding-left: 250px;
      }

      .title-form {
        height: 30px;
        width: auto;
        margin-left: 250px;
      }

      .description-form {
        height: 100px;
        width: 500px;
        margin-left: 250px;
        margin-bottom: 20px;
      }

      .text-white {
        color: #000;
        margin-left: 470px;
        font-size: 20px;
        display: block;
      }
    }
  }
}

.comment-new-wrapper {
  width: 100vw;
  height: 90vh;
  padding-top: 120px;
  background-image: image-url('image/literature-3327172_1280.jpg');
  background-position:center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .comment-new-container {
    padding-top: 30px;



    .form-group {
      color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;


      .form-control {
        height: 30px;
        margin-left: 25px;
        margin-bottom: 30px;
        float:none;
      }


    }
    .comment-action {
      font-size: 20px;
      color: #000;
      margin-left: 200px;
    }
  }
}


.topic-description {
  font-size: 30px;
  padding-left: 15px;
  padding-bottom: 15px;
}
